<script>
    $(document).ready(function(){
        $('input[type="checkbox"]').on('change', function() {
            var numChecked = $('input[type="checkbox"]:checked').length;
            $('#delete-button').prop('disabled', numChecked === 0);
            $('#edit-button').prop('disabled', numChecked !== 1);
            $('#sell-button').prop('disabled', numChecked !== 1); 
        });
      
        $("#edit-button").on('click', function() {
            var selectedBicycleId = $('input[type="checkbox"]:checked').val();
            var url = "{% url 'bicycles:edit_bicycle' 0 %}".replace('0', selectedBicycleId);
            console.log(`Redirecting to ${url}`);  
            window.location.href = url;
        });

        $("#sell-button").on('click', function() {
            console.log('clicked.');
            var selectedBicycleId = $('input[type="checkbox"]:checked').val();
            var url = "{% url 'bicycles:sale_bicycle' 0 %}".replace('0', selectedBicycleId);
            window.location.href = url;
        });

        $("#delete-button").on('click', function() {
            $("#bicycle-form").submit();
        });

        $('#search-input').on('input', function(e) { 
            var searchText = $(this).val();
            searchMakes(searchText);
        });

        $('#open-filters-menu').on('click', function() {
            $('#filters-menu').toggle();
        });

        $('#clear-filters').on('click', function() {
            $.ajax({
                url: "{% url 'bicycles:list_bicycles' %}",
                context: document.body,
                success: function(s,x){
                    $(this).html(s);
                }
            });
        });
    });

    function searchMakes(searchText) {
        if (searchText.trim() !== '') {
        var url = "{% url 'bicycles:search_by_makes' %}";
            $.get(url, {query: searchText}, function(data) {
                const matchingIds = data.map(String);
                $('.table tbody tr').each(function() {
                    const row = $(this);
                    const checkBox = row.find('input[type="checkbox"]');
                    if (matchingIds.includes(checkBox.val())) {
                        row.css('border', '2px solid red');
                    } else {
                        row.css('border', '1px #dee2e6');
                    }
                });
            });
        }
    }
</script>