<script>
    $(document).ready(function(){
        $('input[type="checkbox"]').on('change', function() {
            var numChecked = $('input[type="checkbox"]:checked').length;
            $('#delete-button').prop('disabled', numChecked === 0);
            $('#edit-button').prop('disabled', numChecked !== 1);
        });
      
        $("#edit-button").on('click', function() {
            var selectedEmployeeId = $('input[type="checkbox"]:checked').val();
            var url = "{% url 'employees:edit_employee' 0 %}".replace('0', selectedEmployeeId);
            console.log(`Redirecting to ${url}`);  
            window.location.href = url;
        });

        $("#delete-button").on('click', function() {
            $("#employee-form").submit();
        });
    });
</script>